<div id="most-reviewed-home">
    <h4>Our most reviewed product!</h4>
    <% if @most_reviewed_product.any? %>
    <ul>
        <% @most_reviewed_product.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
    </ul>
    <% else %>
    <p>There are no products yet.</p>
    <% end %>
</div>

<div id="most-recent-home">
    <h4>Our three newest products!</h4>
    <% if @recently_added.any? %>
    <ul>
        <% @recently_added.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
    </ul>
    <% else %>
    <p>There are no products yet.</p>
    <% end %>
</div>

<div id="made-in-usa-home">
    <h4>Locally Produced</h4>
    <% if @made_in_usa.any? %>
    <ul>
        <% @made_in_usa.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
    </ul>
    <% else %>
    <p>There are no products Made in the USA.</p>
    <% end %>
</div>
<div class="nav-links">
    <p><%= link_to "View all products", products_path %></p>
</div>